<div class="inputRow">
    <label class="inputLabel">Global Excluded Letters (comma-separated):</label>
    <input class="inputValue globalExclude" [(ngModel)]="excludedLetters" />
</div>
<div class="inputRow">
    <label class="inputLabel">Known Letters:</label>
    <input class="inputValue" [(ngModel)]="knownLetterOne" />
    <input class="inputValue" [(ngModel)]="knownLetterTwo" />
    <input class="inputValue" [(ngModel)]="knownLetterThree" />
    <input class="inputValue" [(ngModel)]="knownLetterFour" />
    <input class="inputValue" [(ngModel)]="knownLetterFive" />
</div>
<div class="inputRow">
    <label class="inputLabel">Misplaced Letters (comma-separated):</label>
    <input class="inputValue" [(ngModel)]="misplacedLetterOne" />
    <input class="inputValue" [(ngModel)]="misplacedLetterTwo" />
    <input class="inputValue" [(ngModel)]="misplacedLetterThree" />
    <input class="inputValue" [(ngModel)]="misplacedLetterFour" />
    <input class="inputValue" [(ngModel)]="misplacedLetterFive" />
</div>
<div class="buttonRow">
    <span class="spacer"></span>
    <button class="inputButton" (click)="suggestWords()">Submit</button>
    <span class="spacer"></span>
</div>
<div class="output">
    <div *ngFor="let word of suggestedWords">{{word}}</div>
</div>
